<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="<%= utils.analytics.googleSiteVerification %>" />
    <title>P&ocirc;le Emploi : Notez et commentez votre formation</title>
    <link rel="icon" type="image/png" href="/static/images/favicon_noteo.ico" />
    <link rel="stylesheet" type="text/css" href="/static/css/cgu.css" media="all">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
    <script id="rgpd" node-env="<%= utils.nodeEnv %>" src="/static/js/rgpd.js"></script>
</head>

<body class="cgu">
    <%- include('./common/header.ejs'); %>

    <div class="main cgu">
        <div class="header-cgu">
            <h1 class="current">Conditions Générales d’Utilisation</h1>
            <h1><a href="/politique-confidentialite">Politique de confidentialité</a></h1>
        </div>

        <h2>Mentions légales</h2>

        <h3>&Eacute;diteur</h3>

        <p>15 avenue du Docteur Gley<br />
            75987 Paris cedex 20<br />
            Tél. 01 40 30 60 00</p>

        <h3>Directeur de la publication :</h3>
        <p>
            Monsieur Jean Bassères, Directeur général.
        </p>

        <h3>Hébergeur</h3>

        <p>OVH<br />
            2 rue Kellermann<br />
            59100 Roubaix<br />
            Tél. 09 72 10 10 07</p>

        <h3>1. Objet et fonctionnement du service </h3>

        <p>Les utilisateurs, après y avoir été invités par courrier électronique ou après s'être identifié sur le site
            Anotéa, peuvent

            donner leur avis sur la formation qu’ils ont suivie. Le questionnaire est composé de 5 questions et d'un
            texte libre, les stagiaires
            pouvant attribuer
            une note allant de 1 (minimum) à 5 (maximum) qui seront diffusées avec la note moyenne calculée à partir
            de ces notes. Ces avis sont publiés de manière
            anonyme sur
            des sites internet partenaires (ex.
            <a href="https://pole-emploi.fr">pole-emploi.fr</a> / <a href="https://candidat.francetravail.fr/formations/recherche">Trouver ma formation</a>, 
            l’application mobile Ma Formation de France Travail, 
            <a href="https://www.defi-metiers.fr/">Défi métiers</a>, 
            <a href="https://www.choisirmonmetier-paysdelaloire.fr/">https://www.choisirmonmetier-paysdelaloire.fr/</a>
            ...).
        </p>
        <p>
            Les avis concernant les sessions de formations suivies par moins de 5 demandeurs d’emploi 
            ne peuvent être collectés, l’anonymat ne pouvant être garanti dans ces conditions.
        </p>
        <p>Les organismes de formation peuvent répondre aux avis les concernant. Leurs réponses sont
            soumises
            aux dispositions de l’article 4 relatif à la publication et à la modération des avis.</p>
        <p>En fonction des notes et avis émis, France Travail peut solliciter l’organisme de
            formation
            concerné pour recueillir des éléments d’analyse complémentaires.</p>

        <h3 id="donnees-personnelles">2. Données personnelles </h3>

        <p>Aucune donnée personnelle n’est collectée sur le site internet Anotéa.</p>
        <p>Les notes et avis sont susceptibles d’être diffusés pendant 2 ans. Ils sont conservés de manière anonyme
            pendant
            3 ans.</p>


        
        <h3 id="cookies">3. Cookies et autres traceurs</h3>
        
        
        <h4>3.1. Qu'est-ce qu'un cookie ?</h4>
        <p>Un cookie est un petit fichier texte déposé sur le terminal des utilisateurs (par  exemple un ordinateur, une tablette, un « Smartphone», etc.) lors de la visite d’un site internet.</p>
        <p>
            Il contient plusieurs données : le nom du serveur qui l’a déposé, un identifiant sous forme de numéro unique, et une date d’expiration. 
            Les cookies ont différentes fonctionnalités. Ils ont pour but d’enregistrer les paramètres de langue d’un site, de collecter des informations relatives à votre navigation sur les sites, d’adresser des services personnalisés, etc.
        </p>
        <p>Seul l’émetteur d’un cookie est susceptible de lire, enregistrer ou de modifier les informations qui y sont contenues.</p>


        <h4>3.2. Les cookies déposés sur le site</h4>
        <p>
            Sous réserve du choix de l’utilisateur, plusieurs cookies peuvent être utilisés sur le site internet <a href="https://anotea.francetravail.fr">anotea.francetravail.fr</a>. 
            Les différentes finalités de ces cookies sont décrites ci-dessous. 
        </p>
        
        <h5>Cookies strictement nécessaires au fonctionnement du site</h5>
        <p>Des cookies sont utilisés sur le site <a href="https://anotea.francetravail.fr">anotea.francetravail.fr</a> pour permettre le bon fonctionnement du site internet et l’utilisation des principales fonctionnalités du site. </p>
        <p>Ces cookies ne sont pas soumis au consentement de l’utilisateur. Ils permettent par exemple le maintien de la connexion ou la conservation du choix de l’usager sur le dépôt des cookies. Sans ces cookies, l’utilisation du site peut être dégradée et l’accès à certains services être rendu impossible. Il est déconseillé de les désactiver. </p>
        <p>L’utilisateur peut cependant s’opposer à leur dépôt en suivant les indications données au point 3.3. Ces cookies sont exclusivement déposés par France Travail. </p>
        
        <h5>Cookies statistiques ou de mesure d’audience</h5>
        <p>Des cookies sont utilisés sur le site <a href="https://anotea.francetravail.fr">anotea.francetravail.fr</a> afin d’effectuer de la mesure d’audience, des analyses statistiques dans le but d'améliorer l'expérience utilisateur et la performance du site internet. Ces cookies sont déposés par des tiers pour le compte de France Travail. </p>
        <p>Concernant le dépôt des cookies Google Analytics, la société Google collecte par l’intermédiaire de ce cookie des données pour son propre compte dans les conditions définies dans sa politique de confidentialité accessible par le lien suivant : <a href="https://policies.google.com/technologies/partner-sites?gl=fr">https://policies.google.com/technologies/partner-sites?gl=fr</a> </p>
        <p>L’utilisateur peut paramétrer le dépôt des cookies en suivant les indications données au point 3.3. Le fait de refuser la mise en œuvre de tels cookies n'a pas d'incidence sur la navigation sur le site.</p>
        
        <h5>Cookies fonctionnels permettant la lecture de contenu vidéo</h5>
        <p>Des cookies sont utilisés sur le site <a href="https://anotea.francetravail.fr">anotea.francetravail.fr</a> afin de permettre la lecture de contenu vidéo. Ces cookies sont déposés par des tiers pour le compte de France Travail.</p>
        <p>Concernant le dépôt des cookies Youtube, la société Google collecte par l’intermédiaire de ce cookie des données pour son propre compte dans les conditions définies dans sa politique de confidentialité accessible par le lien suivant : <a href="https://policies.google.com/technologies/partner-sites?gl=fr">https://policies.google.com/technologies/partner-sites?gl=fr</a></p>
        <p>Le refus du dépôt de ces cookies n’a pas d’incidence sur l’utilisation des fonctionnalités principales du site. En revanche, l’utilisation du lecteur vidéo sera rendu impossible. L’utilisateur peut paramétrer le dépôt des cookies en suivant les indications données au point 3.3.</p>
        <p>Pour plus d’informations sur les cookies notamment sur le type de cookies déposés ainsi que leurs finalités précises, vous pouvez consulter la plateforme de gestion du consentement, <a href="#" onclick="tC.privacyCenter.showPrivacyCenter();return false">disponible ici</a>.</p>


        <h4>3.3. Accepter ou refuser les cookies</h4>
        <p>
            L’utilisateur dispose de différents moyens pour gérer ses choix en matière de cookies. 
            Les modalités de gestion diffèrent selon que le cookie est soumis ou non à consentement préalable. 
            L’utilisateur peut modifier ses choix à tout moment. 
            Pour information, le paramétrage des cookies est susceptible de modifier les conditions de navigation sur le site internet <a href="https://anotea.francetravail.fr">anotea.francetravail.fr</a>, 
            ainsi que les conditions d’accès à certains services et d’entrainer des dysfonctionnements de certaines fonctionnalités.
        </p>
        <h5>La plateforme de gestion du consentement</h5>
        <p>Pour les cookies donnant lieu à consentement préalable, l’utilisateur peut accepter ou refuser le dépôt de tout ou partie des cookies, à tout moment, en formulant des choix sur la plateforme de gestion du consentement <a href="#" onclick="tC.privacyCenter.showPrivacyCenter();return false">via ce lien dédié</a>.</p>
        <h5>Le paramétrage du navigateur</h5>
        <p>L’utilisateur peut accepter ou refuser le dépôt de tout ou partie des cookies, à tout moment, en modifiant les paramètres de son navigateur (consulter la fonction « Aide » du navigateur pour en savoir plus) ou en se rendant sur l’une des pages suivantes, selon le navigateur utilisé :</p>
        <ul>
            <li>Google Chrome : (<a href="https://support.google.com/chrome/answer/95647?hl=fr">https://support.google.com/chrome/answer/95647?hl=fr</a>)</li>
            <li>Internet Explorer : (<a href="https://support.microsoft.com/fr-fr/help/17442">https://support.microsoft.com/fr-fr/help/17442</a>)</li>
            <li>Mozilla Firefox : (<a href="https://support.mozilla.org/fr/kb/activer-desactiver-cookies">https://support.mozilla.org/fr/kb/activer-desactiver-cookies</a>)</li>
            <li>Safari : (<a href="https://support.apple.com/fr-fr/guide/safari/sfri11471/mac">https://support.apple.com/fr-fr/guide/safari/sfri11471/mac</a>)</li>
        </ul>
        <p>Pour information, la plupart des navigateurs acceptent par défaut le dépôt de cookies. L’utilisateur peut modifier ses choix en matière de cookies à tout moment. Le paramétrage des cookies est susceptible de modifier les conditions de navigation sur le site internet, ainsi que les conditions d’accès à certains services, et d’entrainer des dysfonctionnements de certaines fonctionnalités.</p>
        <p>Pour plus d’informations sur les cookies et les moyens permettant d’empêcher leur installation, l’utilisateur peut se rendre sur la page dédiée sur le site internet de la CNIL : <a href="https://www.cnil.fr/fr/cookies-les-outils-pour-les-maitriser">https://www.cnil.fr/fr/cookies-les-outils-pour-les-maitriser</a>.</p>



        <h3>4. Publication et modération des avis. </h3>
        <p>Les avis déposés doivent être en rapport direct avec la formation suivie par l’utilisateur, dans le cas
            où le commentaire ne concerne pas directement la formation, seules les notes sont publiées. Afin d’être
            le plus exhaustif possible, l‘utilisateur est invité à expliquer les points positifs et négatifs qu’il
            exprime dans son avis.</p>
        <p>Lorsque les avis sont publiés à l'échelle d'une action de formation, nous avons déterminé des critères
            communs entre l’avis collecté et la session affichée permettant de garantir la pertinence de la restitution
            en ligne :

        <p>L’avis a été déposé par un stagiaire ayant suivi une formation :
            dans le même centre de formation (SIREN et lieu de réalisation)
            ayant le même CertifInfo si la formation est certifiante ou le même Formacode
        <p>Afin d’éviter la publication d’avis injurieux ou inappropriés, une modération est effectuée avant la
            publication des avis. L’utilisateur dont la publication de l’avis est rejetée pour injure en est
            informé. Il peut demander à recevoir un nouveau questionnaire pour déposer un nouvel avis.</p>
        <p>L’utilisateur s’engage à ne pas, par la publication de son avis exprimer d’opinions, politiques,
            religieuses, philosophiques ou contraires aux bonnes mœurs. Il s’engage également à ne pas intégrer à
            son avis de liens hypertextes vers des sites internet tiers.</p>
        <p>Par ailleurs, l’utilisateur reconnait être informé qu’est interdite et passible de sanctions pénales la
            publication
            d’avis et propos ayant pour objet de :
        <ul>
            <li>faire l’apologie de crimes contre l’humanité ;</li>
            <li>inciter à la commission d’acte de terrorisme ou faire leur apologie ;</li>
            <li>inciter à haine raciale ;</li>
            <li>inciter à la haine à l’égard de personnes à raison de leur sexe, de leur orientation ou identité
                sexuelle
                ;
            </li>
            <li>inciter à la haine à l’égard de personnes à raison de leur handicap ;</li>
            <li>diffuser de la pornographie, notamment enfantine ;</li>
            <li>inciter à la violence, notamment, aux violences faites aux femmes ;</li>
            <li>porter atteinte à la dignité humaine ;</li>
            <li>proférer des injures ;</li>
            <li>alléguer ou imputer un fait qui porte atteinte à l'honneur ou à la considération d'une personne
                (diffamation) ;
            </li>
            <li>porter atteinte à la vie privée d’un tiers ;</li>
            <li>porter atteinte aux droits de propriété intellectuelle des tiers.</li>
        </ul>
        <p>Tout avis contraire aux présentes conditions d’utilisation est supprimé par France Travail. </p>

        <p>Après leur publication, les avis peuvent être signalés, en cliquant sur le bouton ‘signaler’, par
            l'organisme de formation
            qui considère que l’avis est contraire à la loi ou aux conditions d’utilisation du site Anotéa.</p>

        <h2>5. Responsabilité</h2>

        <p> France Travail ne peut être tenu pour responsable vis-à-vis de l’utilisateur des dommages de toute nature,
            directs ou
            indirects, résultant de l’utilisation du site internet anotea.francetravail.fr, ni de l’impossibilité d’y
            accéder.</p>

        <h2>6. Obligations de l’utilisateur</h2>

        <p>L’utilisateur reconnaît avoir pris connaissance et accepter les présentes conditions d’utilisation
            avant toute
            utilisation du site.</p>
        <p>L’utilisation du site internet anotea.francetravail.fr est soumise au respect par l’utilisateur de la
            législation
            française et des présentes conditions d’utilisation,</p>
        <p>Les présentes conditions d’utilisation peuvent être modifiées à tout moment ; la date de mise à jour
            est mentionnée.
            Ces modifications sont opposables à l’utilisateur dès leur mise en ligne sur le site
            internet anotea.francetravail.fr.
            L’utilisateur est donc invité à consulter régulièrement la dernière version mise à jour.</p>

        <h3>7. Propriété intellectuelle</h3>

        <p>Le site web anotea.francetravail.fr  est protégé au titre des dispositions relatives au droit d’auteur
            défini aux articles
            L.111-1 et suivants du code de la propriété intellectuelle. France Travail est titulaire de l’ensemble des
            droits
            de propriété intellectuelle sur les éléments composant le site.</p>

        <p>Sans préjudice des dispositions prévues à l’article L.1225 du code de la propriété intellectuelle, toute
            représentation,
            reproduction ou diffusion, intégrale ou partielle du site, sur quelque support que ce soit, sans
            l'autorisation
            expresse et préalable de France Travail constitue un acte de contrefaçon, sanctionné au titre des articles
            L.335-2
            et L.335-3 du même code.</p>

        <p>Par ailleurs, la marque France Travail est protégée au titre des articles L.712-1 et suivants du code de la
            propriété
            intellectuelle. Toute représentation, reproduction ou diffusion, intégrale ou partielle de la marque
            France Travail,
            sur quelque support que ce soit, sans l'autorisation expresse et préalable de France Travail constitue un
            acte de
            contrefaçon, sanctionné au titre des articles L.716-1 du même code.</p>
    </div>
    <%- include('./common/contact.ejs'); %>
    <%- include('./common/footer.ejs'); %>
</body>

</html>