<html>
	<head>
		<title>Votre avis nous intéresse</title>
		<meta name="viewport" content="width=device-width">
		<style>
			body {
				font-size:1em;
			}
			
			body td {
				padding:2em;
				width: 33%;
			}

			.banner {
				height: 193px;
			}

			.icons-mobile {
				display: none;
			}
			
			.icons td {
				padding: 0px 0px 5px 20px;
			}

			.labels td {
				padding: 0px 0px 20px 20px;
			}
			@media only screen and (max-width: 596px) {
				body {
					width:100%;
					font-size:1em;
				}
				body td {
					padding:.5em;
					width: 33%;
				}
				.labels, .icons {
					display: none;
				}
				.icons-mobile {
					display: inherit;
					background: white;
    				width: 760px;
    				padding: 20px 0px 50px 0px;
				}
			}
		</style>
	</head>
	<body style="background-color:#ebebeb;font-size:1.3em">
		<div style="display:none">
			<p>Bonjour <%= trainee.trainee.firstName %> <%= trainee.trainee.name %>,</p>
			<p>Vous avez suivi la formation de <strong>&laquo;&nbsp;<%= trainee.training.title %>&nbsp;&raquo;</strong> du <%= moment(trainee.training.startDate).format('DD/MM/YYYY') %> au <%= moment(trainee.training.scheduledEndDate).format('DD/MM/YYYY') %> à <%= trainee.training.organisation.label %>.</p>
		</div>
		<center>
			<table height="100%" cellspacing="0" cellpadding="0" border="0" style="font-family:Arial; background-color:white; font-size:1em;">
				<tr>
					<td colspan="3" class="banner" style="padding:10px">
						<img src="<%= hostname %>/img/email/banner.png" />
					</td>
				</tr>
				<tr>
					<td colspan="3" valign="middle" align="center" style="color:#555; font-size:.7em; padding:.5em; background-color:#ebebeb;">
						Si vous ne parvenez pas à lire ce mail, <a href="<%= consultationLink %>" target="_blank">cliquez-ici</a>
					</td>
				</tr>
				<tr>
					<td  style="padding:2em" align="left" valign="middle"><img src="<%= hostname %>/img/email/logo_Anotea_Vertical_baseline.png" alt=""/></td>
					<td  style="padding:2em" colspan="2" align="right" valign="middle">
						Propulsé par &nbsp;
						<img src="<%= hostname %>/img/regions/logo-email/logo_<%= trainee.codeRegion %>.png" alt="" style="vertical-align: middle;" /> 
					</td>
				</tr>
				<tr>
					<td colspan="3" style="padding:0em 2em">
						<p>Bonjour <%= trainee.trainee.firstName %> <%= trainee.trainee.name %>,</p>
						<p>Vous avez suivi la formation de <strong>&laquo;&nbsp;<%= trainee.training.title %>&nbsp;&raquo;</strong> du <%= moment(trainee.training.startDate).format('DD/MM/YYYY') %> au <%= moment(trainee.training.scheduledEndDate).format('DD/MM/YYYY') %> à <%= trainee.training.organisation.label %>.</p>
						<p>Aidez les futurs stagiaires à choisir leur formation en donnant votre avis ! <br /> Cet avis est totalement anonyme.</p>
					</td>
				</tr>
				<td colspan="3" style="text-align:center;padding:2em;padding-top: 60px;">
					<a href="<%= formLink %>" target="_blank" style="text-decoration: none; background-color: #FDB429; line-height: 2em; border-radius: 9px; padding: 0.6em; color: white; display: block; margin: auto; font-size: 30px; width:90%;">
						<strong style="color: white">Quel est votre avis global sur la formation ?</strong>
						<br />
						<img style="width: 30px; margin: 5px;" src="<%= hostname %>/img/email/white-star-icon.png" alt="white-star-icon"/>
						<img style="width: 30px; margin: 5px;" src="<%= hostname %>/img/email/white-star-icon.png" alt="white-star-icon"/>
						<img style="width: 30px; margin: 5px;" src="<%= hostname %>/img/email/white-star-icon.png" alt="white-star-icon"/>
						<img style="width: 30px; margin: 5px;" src="<%= hostname %>/img/email/white-star-icon.png" alt="white-star-icon"/>
						<img style="width: 30px; margin: 5px;" src="<%= hostname %>/img/email/white-star-icon.png" alt="white-star-icon"/>
					</a>
				</td>
				</tr>
				<tr class="icons">
					<td align="center"><a href="<%= formLink %>" target="_blank"><img src="<%= hostname %>/img/email/01.jpg" alt="0" border="0"/></a></td>
					<td align="center"><a href="<%= formLink %>" target="_blank"><img src="<%= hostname %>/img/email/02.jpg" alt="0" border="0"/></a></td>
					<td align="center"><a href="<%= formLink %>" target="_blank"><img src="<%= hostname %>/img/email/03.jpg" alt="0" border="0"/></a></td>
				</tr>
				<tr class="labels">
					<td style="text-align:center">Notez et commentez la formation que vous venez de suivre</td>
					<td style="text-align:center">Vos avis seront publiés sur La Bonne Formation<% if (!carifNameHidden) { %> et <%= carifName %><% } %></td>
					<td style="text-align:center">Vous pourrez répondre aux questions des futur-e-s stagiaires</td>
				</tr>
				</table>
					<div class="icons-mobile">
						<div align="center"><a href="<%= formLink %>" target="_blank"><img src="/img/email/01.jpg" alt="0" border="0"/></a></div>
						<div style="text-align:center;padding-bottom: 20px;">Notez et commentez la formation que vous venez de suivre</div>
						<div align="center"><a href="<%= formLink %>" target="_blank"><img src="/img/email/02.jpg" alt="0" border="0"/></a></div>
						<div style="text-align:center;padding-bottom: 20px;">Vos avis seront publiés sur La Bonne Formation et <%= carifName %></div>
						<div align="center"><a href="<%= formLink %>" target="_blank"><img src="/img/email/03.jpg" alt="0" border="0"/></a></div>
						<div style="text-align:center">Vous pourrez répondre aux questions des futur-e-s stagiaires</div>
					</div>
				<table  width="760px" cellspacing="0" cellpadding="0" border="0" style="font-family:Arial; background-color:white; font-size:1em;">
				<tr>
					<td colspan="3" align="center" style="color:#555; font-size:.7em; padding:.5em; background-color:#ebebeb;text-align: justify">
						<p>Pôle emploi traite vos données à caractère personnel (données professionnelles, données de contact) pour les besoins de la réalisation d’une enquête de satisfaction. Cette enquête est facultative. Pôle emploi a obtenu vos données soit directement si vous êtes demandeurs d’emploi, soit par le biais de votre Conseil Régional si vous y avez consenti.</p>
						<p>Vos données seront conservées pendant la durée de l’enquête, pour les stagiaires n’ayant pas consenti à être contacté, ou jusqu’à la révocation du consentement et au maximum 3 ans pour les stagiaires ayant consentis à être contactés.</p>
						<p>Conformément aux articles 12 à 23 du règlement général (UE) sur la protection des données n°2016/679 du 27 avril 2016 et à la loi Informatique et libertés n°78-17 du 6 janvier 1978 modifiée, vous bénéficiez notamment d’un droit d’accès, de rectification, d’effacement et le droit de porter une réclamation devant la Commission nationale de l’informatique et des libertés pour les données vous concernant. Pour exercer vos droits, vous pouvez vous adresser à votre agence ou au délégué à la protection des données de Pôle emploi (1 avenue du Docteur Gley, 75987 Paris cedex 20 ; <a href="mailto:courriers-cnil@pole-emploi.fr">courriers-cnil@pole-emploi.fr</a>).</p>
					</td>
				</tr>
			</table>
		</center>
		<img src="<%= trackingLink %>" />
	</body>
</html>