<!DOCTYPE HTML>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="google-site-verification" content="<%= data.googleSiteVerification %>" />
        <title>P&ocirc;le Emploi : Notez et commentez votre formation</title>
        <link rel="icon" type="image/png" href="/static/images/favicon_noteo.ico" />
        <link rel="stylesheet" type="text/css" href="/static/css/front/home.css" media="all">
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <!--script type="text/javascript"
                src="//cdn.jsdelivr.net/cookie-bar/1/cookiebar-latest.min.js?forceLang=fr&privacyPage=cgu"></script-->
        <script src="/static/js/jquery.plugin.rgpwhat.js"></script>
        <script src="/static/js/rgpd.js" ></script>
    </head>

    <body>
        <%- include('../../views/front/header.ejs', { connectionLink }); %>

        <div class="content-intro">
            <div class="stagiaire">
                <h2>Vous avez <strong>suivi une formation</strong><br />professionnelle ?</h2>
                <p>
                    Si vous étiez Demandeur d'Emploi, accédez à votre questionnaire personnalisé et votre avis sera partagé sur les sites de nos partenaires.
                </p>
                <a class="button" href="/services/stagiaires">En savoir plus <img src="/static/images/home/arrow.svg" /></a>
            </div>
            <div class="organisme">
                <h2>Vous êtes un <strong>professionnel</strong><br />de la formation ?</h2>
                <p>
                    <strong>Organisme de formation ou financeur</strong>, connectez-vous à votre Espace Anotéa pour consulter les avis laissés des stagiaires Demandeurs d'Emploi.
                </p>
                <a class="button" href="/services/organismes">En savoir plus <img src="/static/images/home/arrow.svg" /></a>
            </div>
            <img class="illustration" src="/static/images/home/intro.svg" />
        </div>

        <div class="stats">
            <h2>Anotéa c'est déjà :</h2>

            <div class="avis">
                <h3><%= avisCount %> <img  src="/static/images/home/Icone_Message.svg" /></h3>
                <p>Avis recueillis</p>
            </div>

            <div class="organismes">
                <h3><%= organismesCount %> <img  src="/static/images/home/ic_formation.svg" /></h3>
                <p>Organismes évalués par leurs stagiaires</p>
            </div>

            <div class="stagiaires">
                <h3><%= stagiairesCount %> <img  src="/static/images/home/user.png" /></h3>
                <p>Stagiaires interrogés</p>
            </div>
        </div>

        <div class="partenaires">
            <h2>Des partenaires de confiance</h2>
            <div>
                <img src="/static/images/home/partenaires/logo-occitanie.png" />
                <img src="/static/images/home/partenaires/logo-hauts-de-france.png" />
                <img src="/static/images/home/partenaires/logo-bourgogne-franche-comte.png" />
                <img src="/static/images/home/partenaires/logo-bretagne.png" /></a>
                <a href="https://www.defi-metiers.fr"><img src="/static/images/home/partenaires/logo_defimetier.png" /></a>
                <img src="/static/images/home/partenaires/MaFormation-PE.png" />
            </div>
            <div>
                <img src="/static/images/home/partenaires/Martinique_Collectivité_Territoriale_logo_2016.png" />
                <a href="https://www.pole-emploi.fr/candidat/application-mobile-pole-emploi-ma-formation--@/article.jspz?id=676671"><img src="/static/images/home/partenaires/logo_MaFormation.png" /></a>
                <a href="http://www.orientation-paysdelaloire.fr/"><img src="/static/images/home/partenaires/logo-pays-de-la-loire.png" /></a>
                <img src="/static/images/home/partenaires/logo-ile-de-france.png" />
            </div>
        </div>

        <div class="services">
                <h1>Pour plus de transparence sur la formation</h1>
                <ul>
                    <li class="organismes">
                        <div><img src="/static/images/home/services/Illu_OF(1).svg" /></div>
                        <h2>Pour les organismes de formation</h2>
                        <p>Permettre aux Organismes de répondre 
                                aux commentaires des stagiaires 
                                et diffuser ces réponses en ligne</p>
                        <a href="/services/organismes">En savoir plus</a>
                    </li>
                    <li class="financeurs">
                        <div><img src="/static/images/home/services/Picto_Financeur.svg" /></div>
                        <h2>Pour les financeurs</h2>
                        <p>Fournir les notes et commentaires 
                                aux Financeurs publiques de formation 
                                afin qu'ils servent au contrôle qualité</p>
                        <a href="/services/financeurs">En savoir plus</a>
                    </li>
                    <li class="stagiaires last">
                        <div><img src="/static/images/home/services/Picto_Stagiaire.svg" /></div>
                        <h2>Pour les anciens et futurs  stagiaires</h2>
                        <p>Guider les futurs stagiaires 
                                dans leur choix de formation 
                                grâce aux avis des anciens stagiaires.</p>
                        <a href="/services/stagiaires">En savoir plus</a>
                    </li>
                </ul>
            </div>
    
        <%- include('../../views/contact.ejs'); %>

        <div class="rgpd">
            <div  class="content">
                <h1>Les données personnelles</h1>

                <ul>
                    <li>
                        <div class="icon"><img src="/static/images/home/rgpd/LOCK.svg" /></div>
                        <p>
                            Anotéa <strong>protège</strong> vos données personnelles.
                        </p>
                    </li>
                    <li>
                        <div class="icon"><img src="/static/images/home/rgpd/MASK.svg" /></div>
                        <p>
                            Vos notes et commentaires sont <strong>anonymes</strong>. Votre identité <strong>n’est communiquée à personne</strong>.
                        </p>
                    </li>
                    <li>
                        <div class="icon"><img src="/static/images/home/rgpd/COLLECT.svg" /></div>
                        <p>
                            Nous limitons l’usage de vos données <strong>au strict besoin</strong> de collecte de votre avis, et nous en avons fait la déclaration auprès de la <strong>CNIL</strong>.
                        </p>
                    </li>
                    <li>
                        <div class="icon"><img src="/static/images/home/rgpd/DELETE.svg" /></div>
                        <p>
                            Vous pouvez à <strong>tout moment</strong> demander à <strong>modifier votre commentaire ou à le supprimer</strong> <a href="mailto:anotea@pole-emploi.fr">ici</a>
                        </p>
                    </li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>

        <%- include('../../views/front/footer.ejs'); %>
        <%- include('../../views/analyticsTrackers.ejs'); %>
    </body>
</html>
