<!DOCTYPE HTML>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <title>P&ocirc;le Emploi : Notez et commentez votre formation</title>
  <link rel="stylesheet" type="text/css" href="/css/front/noteo.css" media="all">
  <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="icon" type="image/png" href="/img/favicon_noteo.ico" />
</head>

<body>
  <div>
    <header href="/">
      <img src="/img/logo_Anotea_Horizontal_baseline.png" alt="" class="logoAnotea">
    </header>
    <section class="questionnnaire">
      <h2>Notez et commentez votre formation</h2>
      <p id="intitule">
        <span id="formationB"><%= trainee.training.title %></span> | <span id="formationD"><%= moment(trainee.training.startDate).format('DD/MM/YYYY') %></span>                au <span id="formationE"><%= moment(trainee.training.scheduledEndDate).format('DD/MM/YYYY') %></span>
        <br>
        <span id="formationF"><%= trainee.training.organisation.label %></span> - <span id="formationG"><%= trainee.training.place.city %></span>
      </p>
      <br>
      <form class="contour" action="/questionnaire/<%= trainee.token%>/step1" method="POST">
        <div class="grey">
          <p class='titreSection'>Accueil</p>
          <p class='descriptionSection'>Réunions d'information collective et entretiens à l'entrée <br class="erase">en formation.</p>
          <div class="appreciation"></div>
          <div class="starSpace">
            <span class="rating">
             <input id="rating-input-1-1" type="radio" name="avis_accueil" value="5" class="rating-input"/>
             <label id="1_5" for="rating-input-1-1" class="rating-star"></label>
             <input id="rating-input-1-2" type="radio" name="avis_accueil" value="4" class="rating-input"/>
             <label id="1_4" for="rating-input-1-2" class="rating-star"></label>
             <input id="rating-input-1-3" type="radio" name="avis_accueil" value="3" class="rating-input"/>
             <label id="1_3" for="rating-input-1-3" class="rating-star"></label>
             <input id="rating-input-1-4" type="radio" name="avis_accueil" value="2" class="rating-input"/>
             <label id="1_2" for="rating-input-1-4" class="rating-star"></label>
             <input id="rating-input-1-5" type="radio" name="avis_accueil" value="1" class="rating-input"/>
             <label id="1_1" for="rating-input-1-5" class="rating-star"></label>
           </span>
         </div>
         <div id="alert0" class="alert-validation"></div>
         <br>
       </div>
       <div class="white">
        <p class='titreSection'>Contenu de la formation</p>
        <p class='descriptionSection'>Programme, supports pédagogiques, organisation de modules, <br class="erase">alternance théorie/pratique.</p>
        <div class="appreciation"></div>
        <div class="starSpace">
          <span class="rating">
            <input id="rating-input-1-12" type="radio" name="avis_contenu_formation" value="5" class="rating-input"/>
            <label id="2_5" for="rating-input-1-12" class="rating-star"></label>
            <input id="rating-input-1-22" type="radio" name="avis_contenu_formation" value="4" class="rating-input"/>
            <label id="2_4" for="rating-input-1-22" class="rating-star"></label>
            <input id="rating-input-1-32" type="radio" name="avis_contenu_formation" value="3" class="rating-input"/>
            <label id="2_3" for="rating-input-1-32" class="rating-star"></label>
            <input id="rating-input-1-42" type="radio" name="avis_contenu_formation" value="2" class="rating-input"/>
            <label id="2_2" for="rating-input-1-42" class="rating-star"></label>
            <input id="rating-input-1-52" type="radio" name="avis_contenu_formation" value="1" class="rating-input"/>
            <label id="2_1" for="rating-input-1-52" class="rating-star"></label>
          </span>
        </div>
        <div id="alert1" class="alert-validation"></div>
      </div>
      <div class="grey">
        <p class='titreSection'>Equipe de formateurs</p>
        <p class='descriptionSection'>Prise en compte du besoin des stagiaires.</p>
        <div class="appreciation"></div>
        <div class="starSpace">
          <span class="rating">
            <input id="rating-input-1-13" type="radio" name="avis_equipe_formateurs" value="5" class="rating-input"/>
            <label id="3_5" for="rating-input-1-13" class="rating-star"></label>
            <input id="rating-input-1-23" type="radio" name="avis_equipe_formateurs" value="4" class="rating-input"/>
            <label id="3_4" for="rating-input-1-23" class="rating-star"></label>
            <input id="rating-input-1-33" type="radio" name="avis_equipe_formateurs" value="3" class="rating-input"/>
            <label id="3_3" for="rating-input-1-33" class="rating-star"></label>
            <input id="rating-input-1-43" type="radio" name="avis_equipe_formateurs" value="2" class="rating-input"/>
            <label id="3_2" for="rating-input-1-43" class="rating-star"></label>
            <input id="rating-input-1-53" type="radio" name="avis_equipe_formateurs" value="1" class="rating-input"/>
            <label id="3_1" for="rating-input-1-53" class="rating-star"></label>
          </span>
        </div>
        <div id="alert2" class="alert-validation"></div>
      </div>
      <div class="white">
        <p class='titreSection'>Moyens matériels mis à disposition</p>
        <p class='descriptionSection'>Salles de cours, documentation, plateaux techniques, équipement <br class="erase">informatique.</p>
        <div class="appreciation"></div>
        <div class="starSpace">
          <span class="rating">
            <input id="rating-input-1-14" type="radio" name="avis_moyen_materiel" value="5" class="rating-input"/>
            <label id="4_5" for="rating-input-1-14" class="rating-star"></label>
            <input id="rating-input-1-24" type="radio" name="avis_moyen_materiel" value="4" class="rating-input"/>
            <label id="4_4" for="rating-input-1-24" class="rating-star"></label>
            <input id="rating-input-1-34" type="radio" name="avis_moyen_materiel" value="3" class="rating-input"/>
            <label id="4_3" for="rating-input-1-34" class="rating-star"></label>
            <input id="rating-input-1-44" type="radio" name="avis_moyen_materiel" value="2" class="rating-input"/>
            <label id="4_2" for="rating-input-1-44" class="rating-star"></label>
            <input id="rating-input-1-54" type="radio" name="avis_moyen_materiel" value="1" class="rating-input"/>
            <label id="4_1" for="rating-input-1-54" class="rating-star"></label>
          </span>
        </div>
        <div id="alert3" class="alert-validation"></div>
      </div>
      <div class="grey">
        <p class='titreSection'>Accompagnement</p>
        <p class='descriptionSection'>Aide à la recherche de stage/emploi, mise en relation et rencontre <br class="erase"> avec les entreprises.</p>
        <div class="appreciation"></div>
        <div class='starSpace'>
          <span class="rating">
            <input id="rating-input-1-15" type="radio" name="avis_accompagnement" value="5" class="rating-input"/>
            <label id="5_5" for="rating-input-1-15" class="rating-star"></label>
            <input id="rating-input-1-25" type="radio" name="avis_accompagnement" value="4" class="rating-input"/>
            <label id="5_4" for="rating-input-1-25" class="rating-star"></label>
            <input id="rating-input-1-35" type="radio" name="avis_accompagnement" value="3" class="rating-input"/>
            <label id="5_3" for="rating-input-1-35" class="rating-star"></label>
            <input id="rating-input-1-45" type="radio" name="avis_accompagnement" value="2" class="rating-input"/>
            <label id="5_2" for="rating-input-1-45" class="rating-star"></label>
            <input id="rating-input-1-55" type="radio" name="avis_accompagnement" value="1" class="rating-input"/>
            <label id="5_1" for="rating-input-1-55" class="rating-star"></label>
          </span>
        </div>
        <div id="alert4" class="alert-validation"></div>
      </div>
      <div class="white">
        <p class='titreSection'>Avis global</p>
        <p class='descriptionSection'>Opinion générale sur la formation réalisée.</p>
        <div class="appreciation"></div>
        <div class="starSpace">
          <span class="rating">
            <input id="rating-input-1-16" type="radio" name="avis_global" value="5" class="rating-input"/>
            <label id="6_5" for="rating-input-1-16" class="rating-star"></label>
            <input id="rating-input-1-26" type="radio" name="avis_global" value="4" class="rating-input"/>
            <label id="6_4" for="rating-input-1-26" class="rating-star"></label>
            <input id="rating-input-1-36" type="radio" name="avis_global" value="3" class="rating-input"/>
            <label id="6_3" for="rating-input-1-36" class="rating-star"></label>
            <input id="rating-input-1-46" type="radio" name="avis_global" value="2" class="rating-input"/>
            <label id="6_2" for="rating-input-1-46" class="rating-star"></label>
            <input id="rating-input-1-56" type="radio" name="avis_global" value="1" class="rating-input"/>
            <label id="6_1" for="rating-input-1-56" class="rating-star"></label>
          </span>
        </div>
        <div id="alert5" class="alert-validation"></div>
      </div>
  </section>
  <div class="suivant" id="etapeSuivante"><button type="submit" disabled="disabled" class="suivantTxt">Valider</button></div>
  <div id="alert6" class="alert-validation"></div>
</form>
<footer>
    <div class="serviceProQuestionnaire">
        <span>Service propulsé par</span>
        <img src="/img/poleemploi.png" alt="" class="logoPE" />
        <img src="/img/regions/logo-questionnaire/region-<%=trainee.codeRegion%>.png" alt="" class="logoRegion">
    </div>
</footer>
</div>
<script type="text/javascript" src="/script/jquery.js"></script>
<script type="text/javascript" src="/script/indexForm.js"></script>
<%- include('../../views/analyticsTrackers.ejs'); %>
<script>
ga('send', {
  hitType: 'event',
  eventCategory: 'form',
  eventAction: 'step1',
  eventLabel: 'Etape 1'
});
</script>
</body>

</html>