<!DOCTYPE HTML>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>P&ocirc;le Emploi : Notez et commentez votre formation</title>
        <link rel="icon" type="image/png" href="/img/favicon_noteo.ico" />
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
        <style>
            .anotea {
                font-size: 1rem;
                font-family: 'Lato', sans-serif;
                font-weight: 400;
                color: black;
                background-color: white;
                min-height: 1000px;
            }

            .card {
                margin-top: 2rem;
                margin-bottom: 2rem;
            }
        </style>
    </head>

    <body>
        <section>
            <div class="anotea container">
                <div class="row my-5">
                    <div class="col-sm-12">
                        <h1 class="d-flex justify-content-center">Statistiques Anotea</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                Organismes
                            </div>
                            <div class="card-body">
                                <div class="card-text">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Tous</th>
                                                <th scope="col">Kairos</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">Nombre d'organismes</th>
                                                <td><%= organismes.nbOrganismes %></td>
                                                <td><%= kairos.nbOrganismes %></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Nombre d'organismes actifs</th>
                                                <td><%= organismes.actifs %></td>
                                                <td><%= kairos.actifs %></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Nombre d'organismes ayant au moins un avis</th>
                                                <td><%= organismes.hasAtLeastOneAvis %></td>
                                                <td><%= kairos.hasAtLeastOneAvis %></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header">
                                Kairos
                            </div>
                            <div class="card-body px-0 py-0">
                                <div class="kibana text-center">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe
                                                class="embed-responsive-item"
                                                src="<%= kairos.kibanaDashboardUrl %>"
                                        ></iframe>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </section>
    </body>

</html>
