<html>
    <head>
        <title>Donnez-nous votre avis en 1 minute</title>
        <meta name="viewport" content="width=device-width">
        <style>
            body {
                font-size: 1em;
            }

            h1 {
                font-size: 1.5em;
                text-align: center;
            }

            h2 {
                background-color: #F4F4F5;
                font-size: 1.1em;
                line-height: 2.5em;
                padding: 0.8em;
                width: 90%;
                height: 46px;
                display: block;
                border-radius: 9px;
                margin: auto;
            }

            h3 {
                margin-top: 24px;
            }

            body td {
                padding: 2em;
                width: 33%;
            }

            .avis-button {
                text-decoration: none;
                color: #f18030;
                background-color: #fdf1e7;
                line-height: 2em;
                border-radius: 9px;
                padding: 0.6em;
                display: block;
                font-size: 1.5em;
                width: 90%;
                height: 40px;
                text-transform: uppercase;
                font-weight: bold;
                margin: auto;
            }

            p {
                text-align: center;
            }
            
            .intro p {
                width: 80%;
                margin: auto;
            }

            .intro p, .pourquoi p {
                color: #24303A;
                opacity: 0.6;
            }

            hr {
                width: 40%;
                margin: auto;
                border: 1px solid F4F4F5;
            }

            @media only screen and (max-width: 596px) {
                body {
                    width: 100%;
                    font-size: 1em;
                }

                body td {
                    padding: .5em;
                    width: 33%;
                }
            }
        </style>
    </head>
    <body style="background-color:#ebebeb;">
        <center>
            <table width="760px" cellspacing="0" cellpadding="0" border="0"
                   style="font-family:Arial; background-color:white; font-size:1em;">
                <tr>
                    <td colspan="1" align="left" valign="middle">
                        <img src="/static/images/email/logo_Anotea_Vertical_baseline2.png" alt="" /></td>
                    <td colspan="2" align="right" valign="middle">
                        <img src="/static/images/regions/logo-email/logo_<%= trainee.codeRegion %>.png" alt=""
                             style="vertical-align: middle;" />
                    </td>
                </tr>
                <tr>
                    <td colspan="3" style="padding:0em 2em" class="intro">
                        <h1>Donnez-nous votre avis en 1 minute.</h1>
                        <p>Vous avez suivi la formation de <strong><%= trainee.training.title %></strong>
                            du <%= moment(trainee.training.startDate).format('DD/MM/YYYY') %>
                            au <%= moment(trainee.training.scheduledEndDate).format('DD/MM/YYYY') %>
                            à <%= trainee.training.organisation.label %>.</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" style="text-align:center;padding:2em;padding-top:30px;">
                        <a href="<%= formLink %>" target="_blank" class="avis-button">
                            évaluer ma formation
                        </a>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" style="text-align:center;padding:2em;padding-top:0px;" class="pourquoi">
                        <h2>Pourquoi donner votre avis ?</h2>

                        <h3>100% anonyme</h3>

                        <p>Cet avis est totalement anonyme.</p>

                        <hr />

                        <h3>Participer à l'amélioration des formations</h3>

                        <p>Donnez des retours direct aux centres de formation ainsi qu'à Pôle Emploi.</p>

                        <hr />

                        <h3>Aider les prochains à faire le bon choix</h3>

                        <p>Votre avis sera consulté par des centaines de personnes en recherche de formation.</p>
                    </td>
                </tr>
            </table>
            <table width="760px" cellspacing="0" cellpadding="0" border="0"
                   style="font-family:Arial; background-color:white; font-size:1em;">
                <tr>
                    <td colspan="3" align="center"
                        style="color:#555; font-size:.7em; padding:.5em; background-color:#ebebeb;text-align: justify">
                        <%- include('./legal/mentions.ejs'); %>

                        <p>Si vous ne souhaitez plus participer à l'enquête, <a href="<%= unsubscribeLink %>">vous
                                pouvez vous désinscrire</a>.</p>
                    </td>
                </tr>
            </table>
        </center>
        <%- include('../../analyticsTrackers'); %>
        <script>
            ga('send', {
                hitType: 'event',
                eventCategory: 'mail',
                eventAction: 'webview',
                eventLabel: 'Email en version Web'
            });
        </script>
    </body>
</html>
