<html>
    <head>
        <title>Pôle Emploi vous donne accès aux avis de vos stagiaires</title>
        <meta name="viewport" content="width=device-width">
        <style>
                body {
                    font-size: 1em;
                    padding: 0px;
                    margin: 0px;
                    background-color: #f4f3f5;
                    font-size: 1.3em;
                    font-family: lato, sans-serif;
                }
        
                .content, .header {
                    background-color: white;
                }

                .content, .header, .footer {
                    width: 80%;
                    margin: auto;
                }

                .footer {
                    color: #24303A;
                }

                .footer p {
                    text-align: center;
                }

                .content {
                    border-radius: 5px;
                    padding: 10px;
                    text-align: center;
                }
        
                body td {
                    padding: 0.5em;
                    width: 33%;
                }
        
                h1 {
                    text-align: center;
                    font-weight: 900;
                    font-size: 1.2em;
                    line-height: 29px;
                }
        
                p, ul {
                    color: rgba(35, 47, 56, 0.7);
                    font-size: 0.7em;
                }
        
                .slogan {
                    color: #F28017;
                    font-weight: bold;
                }
        
                .button {
                    font-size: 16px;
                    font-weight: bold;
                    text-transform: uppercase;
                    border-radius: 5px;
                    padding: 15px;
                    text-decoration: none;
                    display: block;
                    width: fit-content;
                    margin: auto;
                }
        
                .identifiant {
                    border: 1px solid #C8CBCE;
                    border-radius: 5px;
                    width: 50%;
                    margin: auto;
                }

                .identifiant h2 {
                    margin-bottom: 0;
                }

                .identifiant .siret {
                    color: #24303A;
                }

                .button.connect {
                    background-color: #24303a;
                    color: white;
                }

                .explication {
                    background-color: #F4F4F5;
                    border-radius: 5px;
                    width: 50%;
                    padding: 5px;
                    margin: auto;
                }

                h2 {
                    font-size: 18px;
                }

                .spacer {
                    height: 30px;
                }

                @media only screen and (max-width: 596px) {
                    body {
                        width: 100%;
                        font-size: 1em;
                    }
        
                    body td {
                        padding: .5em;
                        width: 33%;
                    }
                }
            </style>
    </head>
    <body>
        <%- include('common/header', { hostname, codeRegion: organisme.codeRegion, webView, consultationLink }); %>

        <div class="content">
            <h1>83% des internautes tiennent compte des avis pour faire leur choix</h1>

            <p>Anotéa est un service initié par Pôle Emploi et déployé en partenariat avec les Conseils
                    Régionaux, qui permet de recueillir les avis des stagiaires de formation professionnelle et de
                    les publier sur différents sites qui exposent l’offre de formation.</p>
    
            <p class="slogan">Avec Anotéa, vous avez accès à toutes les notes et avis publiés sur vos formations et vous
                avez la possibilité d’y répondre. Votre réponse sera publiée avec l’avis.</p>
    
            <div class="identifiant">
                <h2>Votre identifiant</h2>
                <p class="siret">
                    <%= organisation.SIRET %>
                </p>
                <p>
                    Suivez ce lien pour créer votre mot de passe
                </p>
                <p>
                    <a class="button connect" href="<%= link %>">Accéder à mon espace</a>
                </p>
            </div>

            <div class="spacer"></div>

            <div class="explication">
                <h2>1 compte Anotéa par SIRET</h2>
                <p>
                    Vous ne trouverez dans le compte lié à ce message que les avis déposés sur des sessions enregistrées sous ce même SIRET. 
                </p>
            </div>

            <%- include('common/signature.ejs'); %>
        </div>

        <div class="footer">
            <%- include('common/legal/organismes/mentions.ejs'); %>
        </div>

        <img src="<%= trackingLink %>" alt="Lien de suivi" />
        
        <% if (webView) { %>
            <%- include('../../http/views/analyticsTrackers'); %>
            <script>
                ga('send', {
                    hitType: 'event',
                    eventCategory: 'mail',
                    eventAction: 'webview',
                    eventLabel: 'Email en version Web'
                });
            </script>
        <% } %>
	</body>
</html>
