<html>
	<head>
		<title>Pôle Emploi vous donne accès aux avis de vos stagiaires</title>
		<meta name="viewport" content="width=device-width">
		<style>
			body {
				font-size:1.3em;
			}
			body td {
				padding:2em;
				width: 33%;
			}
			table {
				width: 760px;
			}
			.star {
				width: 30px;
				margin: 5px;
			}
			@media only screen and (max-width: 596px) {
				body {
					width:100%;
					font-size:1em;
				}
				body td {
					padding:.5em;
					width: 33%;
				}
				table {
					width: 40%;
				}
			}
		</style>
	</head>
	<body style="background-color:#ebebeb;font-size:1.3em">
		<div style="display:none">
			<p>Bonjour,</p>
			
			<p>83% des internautes tiennent compte des avis pour faire leur choix</p>

			<p>Anotéa est un service initié par Pôle Emploi et déployé en partenariat avec les Conseils Régionaux, qui permet de recueillir les avis des stagiaires de formation professionnelle et de les publier sur différents sites qui exposent l’offre de formation.</p>

			<p>Avec Anotéa, vous avez accès à toutes les notes et avis publiés sur vos formations et vous avez la possibilité d’y répondre. Votre réponse sera publiée avec l’avis.</p>

			<p style="text-align:center">
				<strong><%= organisation.raisonSociale %> <%= organisation.SIRET %></strong>

				<a href="<%= link %>" style="text-decoration:none;background-color:rgb(77,122,219); line-height:2em; border-radius:4px; padding:1em; color:white;display: block;width: 90%;margin: auto;font-size:1em">Accédez à votre Espace Anotea en créant votre mot de passe</a>

				<p><strong>Information importante :</strong></p>

				<p>
						Il existe un Compte de Back Office Anotéa pour chaque SIRET présent dans la base de l’InterCarif ou la base Kairos de Pôle Emploi.
						Vous ne trouverez dans le compte lié à ce message que les avis déposés sur des sessions enregistrées sous ce même SIRET. 
						Une évolution future de l’application permettra d’agréger les différents SIRET pour un même organisme. 
				</p>
			</p>
			
			<p style="text-align:center"><small>Plus d’informations sur Anotea : <a href="https://anotea.pole-emploi.fr/">https://anotea.pole-emploi.fr/</a></small></p>

			<p style="text-align:center"><small>Votre contact : [<a href="mailto:<%= contact %>"><%= contact %></a>]</small></p>
		</div>
		<center>
			<table height="100%" cellspacing="0" cellpadding="0" border="0" style="font-family:Arial; background-color:white; font-size:1em;">
				<tr>
					<td  style="padding:2em" align="left" valign="middle"><img src="<%= hostname %>/img/email/logo_Anotea_Vertical_baseline2.png" alt=""/></td>
					<td  style="padding:2em" colspan="2" align="right" valign="middle">
						Propulsé par &nbsp;
						<img src="<%= hostname %>/img/regions/logo-email/logo_<%= organisation.codeRegion %>.png" alt="" style="vertical-align: middle;" /> 
					</td>
				</tr>
				<tr>
					<td colspan="3" style="padding:0em 2em">
						<p>Bonjour,</p>
						
						<p>83% des internautes tiennent compte des avis pour faire leur choix</p>

						<p>Anotéa est un service initié par Pôle Emploi et déployé en partenariat avec les Conseils Régionaux, qui permet de recueillir les avis des stagiaires de formation professionnelle, de les publier sur différents sites qui exposent l’offre de formation.</p>
			
						<p>Avec Anotéa, vous avez accès à toutes les notes et avis publiés sur vos formations et vous avez la possibilité d’y répondre. Votre réponse sera publiée avec l’avis.</p>
					</td>
				</tr>
				<tr>
					<td colspan="3" style="text-align:center;padding:2em">
						<p style="text-align:center">
							<strong><%= organisation.raisonSociale %></strong>
						</p>
						<p style="text-align:center">
							<strong>SIRET: <%= organisation.SIRET %></strong>
						</p>

						<p style="text-align:center">
							Votre identifiant est <%= organisation.SIRET %>
						</p>
	
						<a href="<%= link %>" style="text-decoration:none;background-color:rgb(77,122,219); line-height:2em; border-radius:4px; padding:1em; color:white;display: block;width: 90%;margin: auto;font-size:1em">
							Accédez à votre Espace Anotea en créant votre mot de passe
						</a>

						<p><strong>Information importante :</strong></p>

						<p>
								Il existe un compte Anotéa pour chaque SIRET présent dans la base de l’Inter Carif ou la base Kairos de Pôle Emploi.
								Vous ne trouverez dans le compte lié à ce message que les avis déposés sur des sessions enregistrées sous ce même SIRET. 
								Une évolution future de l’application permettra d’agréger les différents SIRET pour un même organisme. 
						</p>
					</td>
				</tr>
				<tr>
					<td colspan="3" style="text-align:center">
						<p><small>Plus d’informations sur Anotea : <a href="https://anotea.pole-emploi.fr/">https://anotea.pole-emploi.fr/</a></small></p>
			
						<p><small>Votre contact : [<a href="mailto:<%= contact %>"><%= contact %></a>]</small></p>
					</td>
				</tr>
				<tr>
					<td colspan="3" style="text-align:center;padding:2em">
						<p>Plus d’informations sur Anotea : <a href="https://anotea.pole-emploi.fr/">https://anotea.pole-emploi.fr/</a></p>
					</td>
				</tr>
			</table>
		</center>

		<img src="<%= trackingLink %>" />
	</body>
</html>