<html>
    <head>
        <title>Votre compte Anotéa : Demande de renouvellement de mot de passe</title>
        <meta name="viewport" content="width=device-width">
        <style>
                body {
                    font-size: 1em;
                    padding: 0px;
                    margin: 0px;
                    background-color: #f4f3f5;
                    font-size: 1.3em;
                    font-family: lato, sans-serif;
                }
        
                .content, .header {
                    background-color: white;
                }

                .content, .header, .footer {
                    width: 80%;
                    margin: auto;
                }

                .footer {
                    color: #24303A;
                }

                .footer p {
                    text-align: center;
                }
                
                .content {
                    border-radius: 5px;
                    padding: 10px;
                    text-align: center;
                }
        
                body td {
                    padding: 0.5em;
                    width: 33%;
                }
        
                h1 {
                    text-align: center;
                    font-weight: 900;
                    font-size: 1.2em;
                    line-height: 29px;
                }
        
                p, ul {
                    color: rgba(35, 47, 56, 0.7);
                    font-size: 0.7em;
                }
        
                .slogan {
                    color: #F28017;
                    font-weight: bold;
                }
        
                .button {
                    font-size: 16px;
                    font-weight: bold;
                    text-transform: uppercase;
                    border-radius: 5px;
                    padding: 15px;
                    text-decoration: none;
                    display: block;
                    width: fit-content;
                    margin: auto;
                }

                .button.connect {
                    background-color: #24303a;
                    color: white;
                }

                .explication {
                    background-color: #F4F4F5;
                    border-radius: 5px;
                    width: 50%;
                    padding: 5px;
                    margin: auto;
                }

                .spacer {
                    height: 20px;
                }

                @media only screen and (max-width: 596px) {
                    body {
                        width: 100%;
                        font-size: 1em;
                    }
        
                    body td {
                        padding: .5em;
                        width: 33%;
                    }
                }
            </style>
    </head>
    <body>
        <%- include('common/header', { hostname, codeRegion: trainee.codeRegion, webView, consultationLink }); %>
        
            <div class="content">
                <h1>Votre renouvellement de mot de passe</h1>
    
                <p>Vous venez d'effectuer une demande de renouvellement de mot de passe afin de pouvoir vous connecter à
                        votre espace Anotéa.</p>
        
                <p>Pour réinitialiser votre mot de passe, nous vous invitons à cliquer ci-dessous :</p>

                <p>
                    <a class="button connect" href="<%= link %>">Accéder à mon espace</a>
                </p>
    
                <div class="spacer"></div>
    
                <div class="explication">
                    <p>
                        Ce lien comprend une clé qui sera valide pendant 48h00 (à compter de la date d'expédition de ce mail). Passé ce délai, il vous faudra renouveler votre demande de mot de passe sur le site, afin de recevoir un nouvel mail d'authentification.
                    </p>
                </div>
            </div>

            <div class="footer">
                <% if (profile === 'organisme') { %>
                    <%- include('common/legal/organismes/mentions.ejs'); %>
                <% } %>
                
                <% if (profile === 'financeur') { %>
                    <%- include('common/legal/financeurs/mentions.ejs'); %>
                <% } %>
            </div>
            
            <% if (webView) { %>
                <%- include('../../http/views/analyticsTrackers'); %>
                <script>
                    ga('send', {
                        hitType: 'event',
                        eventCategory: 'mail',
                        eventAction: 'webview',
                        eventLabel: 'Email en version Web'
                    });
                </script>
            <% } %>
    </body>
</html>
